<html>
    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    </head>

    <body>
        {% block content %}{% endblock %}
    </body>

    <script src="/assets/js/app.js"></script>



</html>